---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Contact — ai-CABIN 1701" pageTitle="Contact">
  <p>contact[@]cabin1701.com</p>
  <p>delete [ ] when you email me.</p>
</PageLayout>
