---
interface Props {
  title?: string;
  lang?: string;
}

const { title = 'Cabin 1701', lang = 'en' } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${base}favicon.svg`} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alice&family=Asap:ital,wght@0,400..700;1,400..700&family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Marcellus&family=Marcellus+SC&family=Pathway+Gothic+One&family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
